@media only screen and (max-width:1220px) {
    .logo{
    }
    .search {
        position: absolute;
        left: 209px;
    }
    .search .search_input {
    }
    .search .search_icon {
    }
    .user_menu_icon {
        position: absolute;
        left: 1050px;
    }
    .user_icon {
        position: absolute;
        left: 864px;
    }
    .message_icon {
        position: absolute;
        left: 665px;
    }
    .new_message {
        position: absolute;
        left: 672px;
    }
    .notify_icon {
        position: absolute;
        left: 528px;
    }
    .new_notify {
        position: absolute;
        left: 532px;
    }
}
